/* estilos pag index*/

main h3.title {
    font-size: 1.2em;
}

main section abbr {
    color: #25cbd3;
}

@media screen and(min-width: 992px) {
    .cover-container {
        width: 35%;
    }
    .cover-container,
    .section-video {
        display: inline-block;
    }
}

main .section-azure {
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}